.add-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    h1{
        font-size: 3.3rem;
    }
    .input-field{
        width: 33%;
    }
    .input-field .field{
        display: flex;
        flex-direction: column;
        margin: 3vh;
    }
    .number-label{
        display: flex;
    }
    .number-field{
        width: 90%;
    }
    .toggles{
        display: flex;
        flex-direction: row;
    }
    .toggles button{
        padding: 4px 20px;
        width: 10%;
    }
    .add-days{
        background-color: #139d13;
        color: white;
        font-size: 1.2rem;
    }
    .subtract-days{
        background-color: #c73f3f;
        color: white;
        font-size: 1.2rem;
    }
    label{
        text-align: left;
        font-size: 1.75rem;
        padding-bottom: 10px;
        font-weight: bold;
    }
    input{
        text-align: center;
        width: 100%;
        height: 25%;
        padding: 1vh 0;
        font-size: 1.75rem;
        color: white;
        background-color: rgba(53, 121, 82, 0.56) ;
        border: none;
    }
    input:hover{
        text-decoration: none;
        outline: none;
    }
    input::placeholder{
        color: #cdcdcd;
        opacity: 1;
    }
    .add-trip-button{
        font-size: 2rem;
        background-color: #ea9635d9;
        color: white;
        border-radius: 50px;
        width: 10vw;
        padding: .5vw .25vh;
    }
}