.admin-home{
    
    form{
        background-color: rgb(159, 139, 187);
        padding: 1vh 3vw;
        width: 20vw;
    }
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    .field{
        margin: 3vh;
        display: flex;
        flex-direction: column;

        label{
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    .tag-div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .tag{
            padding: 5px;
            font-weight: 600;
        }
    }
}