// Map //
.country-page{
    .country-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .slideshow-and-navigation,
    .map-and-description{
        width: 40vw;
    }
    }
    .details-section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            display: inline-flex;
        }
    }
    .icon{
        width: 96px;
        height: 96px;
    }
    .slideshow{
        img{
            width: 40vw;
        }
    }

}



.details-map{

    display: flex;


    .leaflet-container{
        height: 40vh;
        width: 50vw;
    }

}

.country-image-slider{
    overflow: hidden;
    width: 750px;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slider-inner{
        transition: transform 0.3s;
        display: flex;
        flex-direction: row;
    }
    .slider-buttons{
        position: absolute;
        button img{
            width: 51px;
            color: #fafafa;

        }
        button{
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        .btn-right{
            transform: translateX(630px);
        }

    }
    .slide-photo{
        
        width: 750px !important;
    }
}