.home{

    

    .all-trips{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20vh;
    }
    .add-trip{
        width: 10rem;
        height: 2rem;
        font-size: 20px;
    }
}


